body {
  background-color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/background.png");
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  color: white;
  margin: 20px 0 20px 0;
  font-weight: bold;
  font-size: 50px;
}

h1 img {
  height: 60px;
  width: auto;
  margin: 0 10px;
}

h2 {
  font-weight: bold;
  margin-left: 40px;
}

/* PIZZA ORDER FORM */
.panel {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  transition: background-color color 0.1s;

}

#heading button {
  float: right;
  width: 40px;
  height: 40px;
  margin: 0;
}

#heading button img {
  margin: 0;
  padding: 0;
  width: 25px;
  height: auto;
}

#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: left;
}

#toppingSelect, #sizeSelect {
  width: 49%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

#toppingSelect {
  font-size: 16px;
}

.pizzaSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 20px 10px 10px;
}

.pizzaSize h4 {
  font-size: 23px;
}

.pizzaSize:hover {
  opacity: 0.8;
  transition: 0.05s;
}

.pizzaSize img {
  border-radius: 5px;
  height: 60px;
  width: auto;
}

#Mercury img {
  height: 35px;
  width: auto;
}

#Mars img {
  height: 90px;
  width: auto;
}

.selected {
  -webkit-box-shadow: inset 1px 1px 15px 0px rgba(0, 0, 0, 0.699); 
  box-shadow: inset 1px 1px 15px 0px rgba(0,0,0,0.699);
  transition: 0.05s;
}

.panel button, .pizzaSize h4 {
  font-weight: bold;
}

.panel button img {
  height: 30px;
  width: auto;
  margin: 0 5px;
}

/* PIZZAS */
.pizza {
  background-color: white;
  text-align: left;
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin: 20px 0;
  transition: background-color color 0.1s;
}

.pizza h5 {
  font-size: 25px;
}

.pizzaImgDiv {
  width: 30%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzaImgDiv img {
  border-radius: 5px;
  margin: auto;
}

.pizza img#Mercury {
  height: 35px;
}

.pizza img#Earth {
  height: 75px;
}

.pizza img#Mars {
  height: 120px;
}

.pizza .pizzaInfo {
  font-size: 18px;
  margin: 0 auto;
  width: 50%;
}

.pizza .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 20%;
}

#purchaseButton {
  display: none;
}

#pizzas button {
  font-weight: bold;
  font-size: 15px;
}

button#purchaseButton {
  font-weight: bold;
}

/* RECEIPT */
#receipt {
  display: none;
}

.receiptInfo {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  transition: background-color color 0.1s;
}

#receipt h3 {
  font-weight: bold;
}

#receipt p {
  font-size: 20px;
}

#receipt button {
  font-weight: bold;
}

/* Dark Theme */
.dark {
  background-color: #333;
  color: white;
  transition: 0.1s;
}

.darkSize {
  background-color: #555;
  color: white;
  transition: 0.1s;
}

/* Footer */
footer {
  padding: 10px;
  background-color: white;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.5rem; 
}

#content-wrap {
  padding-bottom: 7rem;
  width: 50%;
  margin: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1230px) {
  #content-wrap {
    width: 70%;
  }
}
@media screen and (max-width: 910px) {
  #content-wrap {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  #content-wrap {
    width: 100%;
  }
  #choices {
    flex-direction: column;
  }
  #toppingSelect, #sizeSelect {
    margin: 10px 0;
    width: 100%;
  }
  .pizza h5 {
    font-size: 16px;
  }
  .pizza p {
    font-size: 14px;
  }
  #pizzas button {
    font-weight: bold;
    font-size: 10px;
    padding: 3px 8px;
  }
  .pizzaSize:hover {
    opacity: 1;
    transition: 0.05s;
  }
  h1 {
    margin-top: 20px;
  }
  body {
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .pizza img#Mercury {
    height: 20px;
  }
  
  .pizza img#Earth {
    height: 40px;
  }
  
  .pizza img#Mars {
    height: 70px;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
    text-align: left;
    margin: 0;
  }
  h1 img {
    height: 30px;
    width: auto;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  #heading button {
    height: 30px;
    width: 30px;
  }
  #heading button img {
    height: 15px;
    width: auto;
  }
  #toppingSelect {
    font-size: 20px;
  }
}